<nav class="navbar navbar-expand-lg navbar-dark bg-purple fixed-top">
  <a class="navbar-brand" href="/"><img src="./assets/home_logo.svg" alt="" class="img-fluid"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item mr-3 purplelink" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <a class="nav-link btn text-uppercase text-center btn-light purple-link" routerLink="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link btn text-uppercase text-center btn-light purple-link" routerLink="/hero">heros list</a>
      </li>
    </ul>

    <ul class="navbar-nav ml-auto">
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2 navinupt text-white pb-0 pl-0 d-none d-lg-block" type="text" placeholder="Look for a hero!" aria-label="Search"
        name="heros" [(ngModel)]="areaSearch">
      </form>
      <li class="nav-item dropdown text-center">
        <a class="nav-link dropdown-toggle oi oi-globe text-white" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        </a>
        <div class="dropdown-menu navlocation" aria-labelledby="navbarDropdown">
          <a class="dropdown-item text-decoration-none text-dark" [routerLink]="['/heros', hero.slug]" *ngFor="let hero of herosInfos">
              <img src="{{hero.images.sm}}" alt="header-icon" class="rounded-circle align-middle" width="30" height="30">
              <div class="heroinfo d-inline-block mx-2 text-left align-middle">
                  <p class="mb-0">{{hero.name}}</p>
                  <p class="text-muted">{{hero.biography.fullName}}</p>
              </div>
          </a>
        </div>
      </li>
      <li class="nav-item text-center">
        <a class="nav-link oi oi-eject text-white" href="https://github.com/roecamp0101" target="_blank"> </a>
      </li>
      </ul>
  </div>
</nav>


<router-outlet></router-outlet>


<footer class="bg-purple text-white py-3">
  <div class="container-fluid ">
    <div class="row">
            <div class="col-sm-4 footer_padding"><span>Angular Example App {{ time | date: 'y'}}</span></div>
            <div class="col-sm-4 footer_padding text-center"><span>{{ time | date: 'medium'}}</span></div>
            <div class="col-sm-4 footer_img text-right d-none d-md-block"><a href="https://angular.io/" target="_blank"><img src="./assets/angular_footer.svg" alt="" class="footer_logo"></a></div>
  </div>
  </div>
</footer>
