
<div class="container">
  <div class="row">
    <div class="col-md-5">
      <img src="./assets/404-page-not-found.jpg" alt="">
    </div>
    <div class="col-md-7 align_statement">
     <h1 class="font-weight-bolder font-weight-bolder mt-5 mb-4 pt-5">Page Not Found</h1>
     <p class="text-muted mb-4"> We can't find the page you're looking for.<br/>
       You can either return to the previous page, visit our homepage<br/>
       or contact our support team.</p>
       <div class="button-holder">
         <button class="btn btn-primary mr-3" (click)="homepage()">Visit Homepage</button>
          <button class="btn btn-outline-primary">Contact Us</button>
       </div>
    </div>
  </div>
</div>
